<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title> Акт: &laquo;[[${act.month}]] &ndash; [[${act.section}]]&raquo;</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">

            <a class="navbar-brand" th:href="@{/catalogue/acts/list}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                К журналу актов</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <ul>
                <li><strong>ID</strong>: <span th:text="${act.id}"></span></li>
                <li><strong>Период</strong>: <span th:text="${act.month}"></span> <span th:text="${act.year}"></span>
                </li>
                <li><strong>Раздел проекта</strong>: <span th:text="${act.section}"></span></li>
                <li><strong>Стоимость</strong>: <span th:text="${act.price}"></span> &#8381</li>
                <li><strong>Статус</strong>:
                    <span th:if="${act.actStatusToString() == 'CORRECTION'}">На устранении замечаний</span>
                    <span th:if="${act.actStatusToString() == 'CHECKING_QC'}">На проверке СК</span>
                    <span th:if="${act.actStatusToString() == 'CHECKING_PTD'}">На проверке ПТО</span>
                    <span th:if="${act.actStatusToString() == 'CHECKING_BD'}">На проверке СДО</span>
                    <span th:if="${act.actStatusToString() == 'ACCEPTED'}">Согласовано</span>
                </li>
            </ul>
            <form id="correctionForm" class="text-center" th:method="POST"
                  th:action="@{/catalogue/acts/{actId}/{actStatus}/turnStatus(actId=${act.id}, actStatus='correction')}">
            </form>
            <form id="checkingQcForm" class="text-center" th:method="POST"
                  th:action="@{/catalogue/acts/{actId}/{actStatus}/turnStatus(actId=${act.id}, actStatus='checkingQC')}">
            </form>
            <form id="checkingPtdForm" class="text-center" th:method="POST"
                  th:action="@{/catalogue/acts/{actId}/{actStatus}/turnStatus(actId=${act.id}, actStatus='checkingPtd')}">
            </form>
            <form id="checkingBdForm" class="text-center" th:method="POST"
                  th:action="@{/catalogue/acts/{actId}/{actStatus}/turnStatus(actId=${act.id}, actStatus='checkingBD')}">
            </form>
            <form id="acceptedForm" class="text-center" th:method="POST"
                  th:action="@{/catalogue/acts/{actId}/{actStatus}/turnStatus(actId=${act.id}, actStatus='accepted')}">
            </form>

            <div th:each="role : ${authorities}" th:if="${role=='ROLE_CONTRACTOR' or role=='ROLE_ADMIN'}">
                <div class="btn-group" role="group" th:if="${act.actStatusToString() == 'CORRECTION'}">
                    <div class="btn-group" role="group"
                         aria-label="Группа кнопок с вложенным раскрывающимся списком">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Проверка
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                       href="javascript:void(0);"
                                       onclick="document.getElementById('checkingQcForm').submit();">Проверка
                                    СК</a></li>
                                <li><a class="dropdown-item"
                                       href="javascript:void(0);"
                                       onclick="document.getElementById('checkingPtdForm').submit();">Проверка
                                    ПТО</a></li>
                                <li><a class="dropdown-item"
                                       href="javascript:void(0);"
                                       onclick="document.getElementById('checkingBdForm').submit();">Проверка
                                    СДО</a></li>
                            </ul>
                        </div>
                    </div>
                    <form class="text-center" th:method="GET"
                          th:action="@{/catalogue/acts/{actId}/edit(actId=${act.id})}">
                        <button class="btn btn-outline-secondary btn-sm">Изменить</button>
                    </form>
                    <form class="text-center" th:method="POST"
                          th:action="@{/catalogue/acts/{actId}/delete(actId=${act.id})}">
                        <button class="btn btn-outline-danger btn-sm">Удалить</button>
                    </form>
                </div>
            </div>

            <div th:each="role : ${authorities}" th:if="${role=='ROLE_QC' or role=='ROLE_ADMIN'}">
                <div class="btn-group" role="group" th:if="${act.actStatusToString() == 'CHECKING_QC'}">
                    <div class="btn-group" role="group"
                         aria-label="Группа кнопок с вложенным раскрывающимся списком">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Проверка
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                       href="javascript:void(0);"
                                       onclick="document.getElementById('correctionForm').submit();">Не согласовано</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="javascript:void(0);"
                                       onclick="document.getElementById('checkingPtdForm').submit();">Согласовано</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <form class="text-center" th:method="GET"
                          th:action="@{/catalogue/acts/{actId}/edit(actId=${act.id})}">
                        <button class="btn btn-outline-secondary btn-sm">Изменить</button>
                    </form>
                    <form class="text-center" th:method="POST"
                          th:action="@{/catalogue/acts/{actId}/delete(actId=${act.id})}">
                        <button class="btn btn-outline-danger btn-sm">Удалить</button>
                    </form>
                </div>
            </div>

            <div th:each="role : ${authorities}" th:if="${role=='ROLE_PTD' or role=='ROLE_ADMIN'}">
                <div class="btn-group" role="group" th:if="${act.actStatusToString() == 'CHECKING_PTD'}">
                    <div class="btn-group" role="group"
                         aria-label="Группа кнопок с вложенным раскрывающимся списком">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Проверка
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                       href="javascript:void(0);"
                                       onclick="document.getElementById('correctionForm').submit();">Не согласовано</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="javascript:void(0);"
                                       onclick="document.getElementById('checkingBdForm').submit();">Согласовано</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <form class="text-center" th:method="GET"
                          th:action="@{/catalogue/acts/{actId}/edit(actId=${act.id})}">
                        <button class="btn btn-outline-secondary btn-sm">Изменить</button>
                    </form>
                    <form class="text-center" th:method="POST"
                          th:action="@{/catalogue/acts/{actId}/delete(actId=${act.id})}">
                        <button class="btn btn-outline-danger btn-sm">Удалить</button>
                    </form>
                </div>
            </div>

            <div th:each="role : ${authorities}" th:if="${role=='ROLE_BCD' or role=='ROLE_ADMIN'}">
                <div class="btn-group" role="group" th:if="${act.actStatusToString() == 'CHECKING_BD'}">
                    <div class="btn-group" role="group"
                         aria-label="Группа кнопок с вложенным раскрывающимся списком">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Проверка
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                       href="javascript:void(0);"
                                       onclick="document.getElementById('correctionForm').submit();">Не согласовано</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="javascript:void(0);"
                                       onclick="document.getElementById('acceptedForm').submit();">Согласовано</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <form class="text-center" th:method="GET"
                          th:action="@{/catalogue/acts/{actId}/edit(actId=${act.id})}">
                        <button class="btn btn-outline-secondary btn-sm">Изменить</button>
                    </form>
                    <form class="text-center" th:method="POST"
                          th:action="@{/catalogue/acts/{actId}/delete(actId=${act.id})}">
                        <button class="btn btn-outline-danger btn-sm">Удалить</button>
                    </form>
                </div>
            </div>

            <div th:each="role : ${authorities}" th:if="${role=='ROLE_ADMIN'}">
                <div class="btn-group" role="group" th:if="${act.actStatusToString() == 'ACCEPTED'}">
                    <form class="text-center" th:method="POST"
                          th:action="@{/catalogue/acts/{actId}/{actStatus}/turnStatus(actId=${act.id}, actStatus='correction')}">
                        <button class="btn btn-outline-danger btn-sm" aria-current="page">Не согласовано</button>
                    </form>
                    <form class="text-center" th:method="GET"
                          th:action="@{/catalogue/acts/{actId}/edit(actId=${act.id})}">
                        <button class="btn btn-outline-secondary btn-sm">Изменить</button>
                    </form>
                    <form class="text-center" th:method="POST"
                          th:action="@{/catalogue/acts/{actId}/delete(actId=${act.id})}">
                        <button class="btn btn-outline-danger btn-sm">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>