<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Редактирование акта: &laquo;[[${act.month}]] &ndash; [[${act.section}]]&raquo;</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/catalogue/acts/list}">К журналу актов</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           th:href="@{/catalogue/acts/{actId}(actId=${act.id})}">К акту &laquo;[[${act.month}]]
                            &ndash; [[${act.section}]]&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h3 class="text-center">Редактирование акта &laquo;[[${act.month}]] &ndash; [[${act.section}]]&raquo;</h3>
    <div th:if="${errors}">
        <h2>Допущены ошибки</h2>
        <ul>
            <li th:each="error: ${errors}" th:text="${error}"></li>
        </ul>
    </div>
    <form method="post" th:action="@{/catalogue/acts/{actId}/edit(actId=${act.id})}">
        <div class="mb-3">
            <label class="form-label">Отчетный период:<br>
                <input list="datalistMouths" th:value="${payload != null ? payload.month : act.month}" name="month"
                       placeholder="Месяц"
                       class="form-control">
                <datalist id="datalistMouths">
                    <option value="Январь">
                    <option value="Февраль">
                    <option value="Март">
                    <option value="Апрель">
                    <option value="Май">
                    <option value="Июнь">
                    <option value="Июль">
                    <option value="Август">
                    <option value="Сентябрь">
                    <option value="Октябрь">
                    <option value="Ноябрь">
                    <option value="Декабрь">
                </datalist>
            </label>
            <label class="form-label">
                <input type="number" th:value="${payload != null ? payload.year : act.year}" name="year" placeholder="Год" class="form-control">
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">Раздел проекта:<br>
                <input type="text" th:value="${payload != null ? payload.section : act.section}" name="section"
                       placeholder="Раздел проекта" class="form-control">
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">Стоимость:<br>
                <input type="text" th:value="${payload != null ? payload.price : act.price}" name="price"
                       placeholder="Стоимость" class="form-control">
            </label>
            <span class="form-text"> &#8381 </span>
        </div>
        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
</div>
</body>
</html>